.antena {
    width: 2px;
    height: 0px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 40px solid #97f168;
    position: absolute;
    
}
.antena-r{
    rotate: 30deg;
    right: 16px;
}
.antena-l{
    rotate: -30deg;
    left: 16px;
}
.antena-point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #97f168;
    position: absolute;
}
.point-r{
    right: 6px;
}
.point-l{
    left: 6px;
}

.foot{
    width: 20px;
    height: 26px;
    border-radius: 50%;
    background-color: #97f168;
    position: absolute;
    top: 40px;
    border: 1px solid #6da84d;
}
.foot-r{
    right: 8px;
}
.foot-l{
    left: 8px;
}
.head{
    z-index: 1;
    width: 70px;
    height: 56px;
    border-radius: 50%;
    background-color: #97f168;
    border: 1px solid #6da84d;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 4px
}
.reflex{
    position: absolute;
    width: 36px;
    height: 16px;
    rotate: 20deg;
    right: 6px;
    top: 4px;
    border-radius: 60% 60% 0 0 ;
    border-top: 3px solid rgba(255, 255, 255, 0.807);
}
.eye{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 18px;
    animation-name: flap;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
@keyframes flap{
    0%{
        height: 18px;
        top: 18px;
    }
    5%{
        height: 4px;
        top: 28px;
    }
    10%{
        height: 18px;
        top: 18px;
    }
}

.eye-r{
    right: 6px;
}
.eye-l{
    left: 6px;
}
.eye-point{
    position: absolute;
    width: 4px;
    height: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 6px;
    border-radius: 50%;
    background-color: black;

    animation-name: opacity;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
@keyframes opacity{
    0%{
        opacity: 1;
    }
    5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
}


.mouse{
    position: absolute;
    width: 12px;
    height: 6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 34px;
    border-radius: 0 0 50% 50%;
    border-bottom: 2px solid rgb(63, 72, 64);
}
.shadow{
    position: absolute;
    width: 66px;
    height: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 14px;
    border-radius: 0 0 50% 50%;
    border-bottom: 3px solid #6da84d;
}