.leyer-5{
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 190px;
    height: 320px;
    background-color: rgb(98, 96, 94);
    border-radius: 0 160px 0 30px;
}


.planet-shadow{
    position: absolute;
    width: 100px;
    height: 80px;
    border-top: 6px solid rgb(71, 61, 51);
    background-color:rgba(33, 29, 24, 0.619);
    border-radius: 50%;
    top: 100px;
    right: 0px;
    rotate: -30deg;
}
.cater-position1{
    rotate:10deg;
    left: 16px;
}